.cabecero_sesion{
    background: #34495E;
    border-radius: 8px 8px 0px 0px;
    margin: 5.5% 35% 0% 35%;
    padding: 0.1% 2%;
}
#login{
    margin: 0% 35%;
    padding: 1% 2%;
    background: #FFFEFD;
    border-radius: 0px 0px 8px 8px;
    border-bottom: #CAC6C6  0.5px solid;
    border-left: #CAC6C6  0.5px solid;
    border-right: #CAC6C6  0.5px solid;
}
.btn-login{
   width: 100%;
}
.recContra{
    color: #0073b1;
}
.recContra, p :hover{
    cursor: pointer;
}
.or{
    color: #a4a7a8;
    font-size: 100%;
}
#registro{
    margin: 0% 9% 0% 9%;
    background: #FFFEFD;
    border: #CAC6C6  0.5px solid;
    border-radius: 0px 0px 8px 8px;
    padding: 1%;
}

.cabecero_registro{
    background: #34495E;
    border-radius: 8px 8px 0px 0px;
    margin: 3% 9% 0% 9%;
    padding: 0.1% 2%;
}